#chatContainer {
    height: 300px;
    border: 1px solid black;
    overflow-y:auto;
}

.messageAssistant {
    text-align: left;
    width: 45%;
    padding: 15px;
    margin-top:5px;
    border-radius: 10px;
    background: blue;
    color: white;
}
.messageUser {
    float: right;
    padding-left: 15px;
    margin-top:5px;
    background: red;
    width: 45%;
    border-radius: 10px;
}
#chat_input {
    width:80%;
    height:40px;
    padding:10px;
}
#btn_send {
    height:40px;
    padding:10px;
    width: 15%;
}

.spinner {
    border: 6px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left-color: blue;
    animation: spinner 1s ease-in-out infinite;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

body {
    display:flex;
    flex-direction: column;
}

form {
    display:flex;
    gap:20px;
}

