apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: doc-assist-ingress
  namespace: doc-assist
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: gateway
            port:
              number: 8000
